
.almadel {
	top: 226px;
	left: 420px;
}

.swarkii {
	top: 321px;
	left: 462px;
}

.orewell {
	top: 505px;
	left: 115px;
}

.pallimonte {
	top: 455px;
	left: 375px;
}

.velario {
	top: 150px;
	left: 333px;
}

.saintsbridge {
	top: 612px;
	left: 325px;
}

.ronove {
	top: 476px;
	left: 182px;
}

.asclepia {
	top: 656px;
	left: 178px;
}

/* HOLY SEE OF FARNESSA */
.tharsis {
	top: 336px;
	left: 574px;
}

.karst {
	top: 228px;
	left: 582px;
}

.invernus {
	top: 112px;
	left: 532px;
}

.atlasdam {
	top: 379px;
	left: 637px;
}

.judex {
	top: 272px;
	left: 738px;
}

.vespermill {
	top: 187px;
	left: 848px;
}

/* ROYAL KINGDOM OF ATMAHATA */
.samsara {
	top: 722px;
	left: 783px;
}

.sunshade {
	top: 578px;
	left: 570px;
}

.marsalim {
	top: 747px;
	left: 560px;
}

.kabulshahi {
	top: 687px;
	left: 565px;
}

.beizi {
	top: 597px;
	left: 730px;
}

.iwahate {
	top: 605px;
	left: 887px;
}

.grandport {
	top: 381px;
	left: 1122px;
}

.goldshore {
	top: 496px;
	left: 1088px;
}

.ersatz {
	top: 476px;
	left: 732px;
}

.ruinsofeld {
	top: 130px;
	left: 339px;
}

.lemegeton {
	top: 186px;
	left: 395px;
}

.forgottengrotto {
	top: 279px;
	left: 361px;
}

.whisperwood {
	top: 341px;
	left: 429px;
}

.carrioncaves {
	top: 471px;
	left: 335px;
}

.clearbrook {
	top: 511px;
	left: 418px;
}

.bolderfallpass {
	top: 376px;
	left: 333px;
}

.thequarry {
	top: 436px;
	left: 223px;
}

.forestofrubeh {
	top: 476px;
	left: 90px;
}

.dragonsongfane {
	top: 557px;
	left: 146px;
}

.refugeruins {
	top: 685px;
	left: 180px;
}

.murkwood {
	top: 594px;
	left: 284px;
}

.calenhad {
	top: 726px;
	left: 328px;
}

.farshore {
	top: 686px;
	left: 419px;
}

.twinfalls {
	top: 622px;
	left: 455px;
}

.hoarfrostgrotto {
	top: 248px;
	left: 510px;
}

.tombimperator {
	top: 191px;
	left: 535px;
}

.mawicedragon {
	top: 162px;
	left: 568px;
}

.lorncathedral {
	top: 92px;
	left: 542px;
}

.whitewood {
	top: 182px;
	left: 610px;
}

.obsidianparlor {
	top: 197px;
	left: 660px;
}

.hollowthrone {
	top: 284px;
	left: 665px;
}

.purgatationforest {
	top: 178px;
	left: 750px;
}

.ebonygrotto {
	top: 208px;
	left: 873px;
}

.whistlewood {
	top: 345px;
	left: 640px;
}

.caveoforigin {
	top: 327px;
	left: 623px;
}

.undertowcave {
	top: 436px;
	left: 697px;
}

.sunshadecatacombs {
	top: 584px;
	left: 533px;
}

.whistlingcaverns {
	top: 598px;
	left: 625px;
}

.circleofproving {
	top: 650px;
	left: 596px;
}

.lizardmenden {
	top: 655px;
	left: 532px;
}

.theblackmarket {
	top: 708px;
	left: 527px;
}

.quicksandcaves {
	top: 661px;
	left: 643px;
}

.royalcatacombs {
	top: 735px;
	left: 498px;
}

.tombofkings {
	top: 678px;
	left: 729px;
}

.lotusdias {
	top: 759px;
	left: 743px;
}

.thepath {
	top: 571px;
	left: 714px;
}

.ancestorshrine {
	top: 753px;
	left: 785px;
}

.untouchedsanctum {
	top: 553px;
	left: 785px;
}

.centralpass {
	top: 640px;
	left: 810px;
}

.spectrewood {
	top: 602px;
	left: 963px;
}

.sulimanesplanade {
	top: 570px;
	left: 857px;
}

.cliffsmaiya {
	top: 494px;
	left: 703px;
}

.moonstruckcoast {
	top: 524px;
	left: 917px;
}

.captainsbain {
	top: 468px;
	left: 984px;
}

.sapphiresprings {
	top: 479px;
	left: 1030px;
}

.cargobay {
	top: 455px;
	left: 1023px;
}

.lochs {
	top: 420px;
	left: 1039px;
}

.lostkingslumber {
	top: 406px;
	left: 1045px;
}

.seasidegrotto {
	top: 549px;
	left: 1074px;
}

.caveazure {
	top: 522px;
	left: 1166px;
}

.goldshorecathedral {
	top: 492px;
	left: 1092px;
}

.grandamphitheatre {
	top: 381px;
	left: 1096px;
}


.agrippansea {
	top: 230px;
	left: 120px;
}

.silenttundra {
	top: 60px;
	left: 520px;
}

.redbluffs {
	top: 400px;
	left: 110px;
}

.orsterrabay {
	top: 476px;
	left: 540px;
}

.gulfdiomedes {
	top: 406px;
	left: 780px;
}

.marsalidesert {
	top: 792px;
	left: 420px;
}

.fereianrange {
	top: 742px;
	left: 1105px;
}
