/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

body{
    background-color: #C7C5F4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

h3 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

.card-body{
    background-color: #b6d463
}

#main-content{
    text-align: center;
    margin-top: 25px;
}

#name{
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #333333;
    margin-top: auto;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}