<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gacha Result</title>
</head>
<body>
    <center>
        <h1>Hasil Gacha:</h1>
    </center>
    <center>
        <img src="/static/<%= name %>.png" width="600px" width="200px">
    </center>
</body>
</html>